.main-wrapper {
    padding: 50px;
}

.main-heading {
    text-align: center;
    font-size: 4rem;
}

.filter-wrapper {
    padding: 0 30px;
    display: flex;
}

.filter-wrapper label {
    margin-left: auto;
}

.filter-wrapper select {
    padding: 5px;
    text-align: center;
}

.products-wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
}