.product {
    margin: 25px 0;
    width: 100%;
    display: flex;
    justify-content: left;
    cursor: pointer;
    transition: all 0.2s;
}

.product:hover {
    background-color: #eee;
}

.image-wrapper {
    height: 350px;
    min-width: 33%;
}

.image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
}

.title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.description {
    line-height: 1.5;
}

.price {
    margin-top: auto;
    font-weight: 500;
    font-size: 1.2rem;
}