@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

:root {
    --light: #edf6f9;
    --dark: #006d77;
    --green: #83c5be;
    --blue: #73d2de;
    --grey: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    font-family: 'Roboto Flex', sans-serif;

}

.Toastify__toast-container {
    margin-top: 100px;
}